# Python Functions

In this class, you'll learn about functions, what a function is, the syntax, components, and types of functions. Also, you'll learn to create a function in Python.

# What is a function in Python?

In Python, a **function is a block of organized, reusable (DRY- Donâ€™t Repeat Yourself) code with a name** that is used to perform a single, specific task. It can take arguments and returns the value.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

Furthermore, it improves efficiency and reduces errors because of the reusability of a code.

## Types of Functions

Python support two types of functions

1. **[Built-in]** function
2. **[User-defined]** function

1.**Built-in function**

The functions which are come along with Python itself are called a built-in function or predefined function. Some of them are:
**`range()`**, **`print()`**, **`input()`**, **`type()`**, **`id()`**, **`eval()`** etc.

**Example:** Python **`range()`** function generates the immutable sequence of numbers starting from the given start integer to the stop integer.

```python
>>> for i in range(1, 10):
>>>     print(i, end=' ')

1 2 3 4 5 6 7 8 9
```

2. **User-defined function**

Functions which are created by programmer explicitly according to the requirement are called a user-defined function.

**Syntax:**

```python
def function_name(parameter1, parameter2):
    """docstring"""
    # function body    
    # write some action
return value
```

<div>
<img src="img/f1.png" width="550"/>
</div>

## Defining a function without any parameters

Function can be declared without parameters.

In [1]:
def greet():
    print("hello")

In [2]:
greet()

hello

In [7]:
def add_num():
    num1 = 78
    num2 = 10
    tot = num1+num2
    print(tot)

In [8]:
add_num()

88

In [11]:
tot

NameError: name 'tot' is not defined

In [12]:
def full_name():
    fir_name = "ajantha"
    las_name = "devi"
    full_name = fir_name+" "+las_name
    print(full_name)

In [13]:
full_name()

ajantha devi

In [14]:
a = '34'

In [15]:
a

'34'

In [16]:
print(a)

34

In [17]:
def full_name():
    fir_name = "ajantha"
    las_name = "devi"
    full_name = fir_name+" "+las_name
    return (full_name)

In [18]:
full_name()

'ajantha devi'

In [19]:
def add_num():
    num1 = 78
    num2 = 10
    tot = num1+num2
    return (tot)

In [20]:
add_num()

88

## Defining a function with parameters

In a function we can pass different data types(number, string, boolean, list, tuple, dictionary or set) as a parameter.

### Single Parameter: 

If our function takes a parameter we should call our function with an argument

In [21]:
def greet(name):
    print("hello ", name)

In [23]:
greet("dear friends")

hello  dear friends

In [24]:
greet(6)

hello  6

In [25]:
def greet_1(name):
    print("hello "+ name)

In [26]:
greet_1("ajantha")

hello ajantha

In [27]:
greet_1(6)

TypeError: can only concatenate str (not "int") to str

# Two or more Parameter:

In [28]:
def full_name_1(f_name, l_name):
    full_name = f_name+" "+l_name
    return (full_name)

In [29]:
full_name_1()

TypeError: full_name_1() missing 2 required positional arguments: 'f_name' and 'l_name'

In [31]:
full_name_1("ajnatha", "devi")

'ajnatha devi'

In [32]:
def course(p_name, c_name):
    print("hi dear" , p_name)
    print("welcome to the course" ,c_name)

In [33]:
course("ajantha","Data Analysis")

hi dear ajantha
welcome to the course Data Analysis

In [34]:
course("Data Analysis","ajantha")

hi dear Data Analysis
welcome to the course ajantha

In [35]:
course("ajantha")

TypeError: course() missing 1 required positional argument: 'c_name'

In [36]:
course("Data Analysis")

TypeError: course() missing 1 required positional argument: 'c_name'

## Defining a function with parameters and `return` value

### Return Single Value

Here, **`None`** is the returned value since **`greet()`** directly prints the name and no **`return`** statement is used.

## Passing Arguments with Key and Value

If we pass the arguments with key and value, the order of the arguments does not matter.

In [37]:
def course_1(p_name, c_name):
    print("hi dear" , p_name)
    print("welcome to the course" ,c_name)

In [38]:
course_1("devi","python")

hi dear devi
welcome to the course python

In [39]:
course_1(c_name = "devi",p_name = "python")

hi dear python
welcome to the course devi

In [40]:
course_1("devi", c_name = "python")

hi dear devi
welcome to the course python

In [41]:
course_1(c_name = "python","devi" )

SyntaxError: positional argument follows keyword argument (1839592043.py, line 1)

In [42]:
def num_val(p1,p2,p3):
    print("hi", p1)
    print("hello", p2)
    print("welcome",p3)

In [43]:
num_val(2, 3, 4)

hi 2
hello 3
welcome 4

In [44]:
num_val(p2 = 2, p1 = 3, p3 = 4)

hi 3
hello 2
welcome 4

In [45]:
num_val( 2, p1 = 3, p3 = 4)

TypeError: num_val() got multiple values for argument 'p1'

In [46]:
num_val( 2, p3 = 3, p2 = 4)

hi 2
hello 4
welcome 3

In [47]:
num_val( p1 = 2, 3, p2 = 4)

SyntaxError: positional argument follows keyword argument (946780070.py, line 1)

In [48]:
num_val( p1 = 2, 3, p3 = 4)

SyntaxError: positional argument follows keyword argument (2786586993.py, line 1)

In [49]:
num_val( 2, 3, p3 = 4)

hi 2
hello 3
welcome 4

### Return Multiple Values

You can also return multiple values from a function. Use the return statement by separating each expression by a comma.

In [54]:
def cal(n1,n2):
    add = n1+n2
    sub = n1-n2
    multi = n1*n2
    div = n1/n2
    return (add, multi, sub,div)

In [55]:
a,b,c,d = cal(4,20)

In [56]:
print(a)
print(b)
print(c)
print(d)

24
80
-16
0.2

### Return Boolean Values

In [57]:
def is_even(n):
    if n %2 ==0:
        return True
    else:
         return False

In [58]:
is_even(4)

True

In [59]:

is_even(47)

False

### Return a List

In [ ]:
# def eve_num(n):
#     evens = []
#     for n in range(n+1):
#         if n% 2==0:
#             evens.append(n)
#         return evens

In [63]:
def even_num(n):
    evens = []
    for i in range(n+1):
        if i %2==0:
            evens.append(i)
    return evens

In [64]:
even_num(20)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## How to call a function in python?

Once we have defined a function, we can call it from another function, program or even the Python prompt. To call a function we simply type the function name with appropriate parameters.

<div>
<img src="img/f2.png" width="500"/>
</div>