# Python Tuple

In this class, you'll learn everything about Python tuples. More specifically, what are tuples, how to create them, when to use them and various methods you should be familiar with.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |âœŽ|
| **Tuple**      | **immutable** |  |

## Creating Python Tuple

A tuple is created by placing all the items (elements) inside **parentheses `()`**, separated by **commas `,`**. The parentheses are optional, however, it is a good practice to use them.

A tuple can have any number of items and they may be of different types (integer, float, list, **[string]**, etc.).

<div>
<img src="img/t0.png" width="500"/>
</div>

In [1]:
li = [2]
type(li)

list

In [2]:
st = "3442"
type(st)

str

In [4]:
tu = (3.0)
type(tu)

float

In [5]:
tu1 = (3,)
type(tu1)

tuple

In [6]:
tu3 = (5,5.7,'ajan',[1,1,1],('a','b'))

In [7]:
tu3[4]

('a', 'b')

In [8]:
tu3[2][3]

'n'

In [9]:
tu3[2][-1]

'n'

In [10]:
tu3[-3][-1]

'n'

## Access Tuple Elements

There are various ways in which we can access the elements of a tuple.

### 1. Indexing

We can use the **index operator** **`[]`** to access an item in a tuple, where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range(6,7,... in this example) will raise an **`IndexError`**.

The index must be an integer, so we cannot use float or other types. This will result in **`TypeError`**.

### 2. Negative Indexing

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

<div>
<img src="img/t5.png" width="300"/>
</div>

### 3. Slicing

We can access a range of items in a tuple by using the slicing operator **`:`**(colon).

**Syntax:**

```python
tuple[start : stop : step]
```
by default step is +1

Slicing can be best visualized by considering the index to be between the elements as shown below. So if we want to access a range, we need the index that will slice the portion from the tuple.

<div>
<img src="img/t6.png" width="300"/>
</div>

In [11]:
tu3 = (5,5.7,'ajan',[1,1,1],('a','b'))

In [12]:
tu3[1:4]

(5.7, 'ajan', [1, 1, 1])

In [13]:
tu3[2][1:]

'jan'

In [14]:
tu3[:-1]

(5, 5.7, 'ajan', [1, 1, 1])

In [15]:
tu3[-2:-5:-1]

([1, 1, 1], 'ajan', 5.7)

In [16]:
tu3[3:0:-1]

([1, 1, 1], 'ajan', 5.7)

In [17]:
tu3[4][::-1]

('b', 'a')

In [18]:
tu3[-1][::-1]

('b', 'a')

In [19]:
tu3[-1][-1:-3:-1]

('b', 'a')

## Tuple Operations

### 1. Changing a Tuple

Unlike lists, **tuples are immutable**.

This means that elements of a tuple cannot be changed once they have been assigned. But, if the element is itself a mutable data type like a list, its nested items can be changed.

We can also assign a tuple to different values (reassignment).

In [20]:
tu3 = (5,5.7,'ajan',[1,1,1],('a','b'))

In [21]:
tu3[1] = 8.9

TypeError: 'tuple' object does not support item assignment

In [22]:
tu3[1:4] = (3,4,5)

TypeError: 'tuple' object does not support item assignment

We can use **`+`** operator to combine two tuples. This is called **concatenation**.

We can also repeat the elements in a tuple for a given number of times using the **`*`** operator.

Both **`+`** and **`*`** operations result in a new tuple.

In [23]:
t1 = (1,2)
t2 = (3,4)
t1+t2

(1, 2, 3, 4)

In [24]:
t3 = t1+t2
t3

(1, 2, 3, 4)

In [25]:
l1 = [7,8,9]
t2+l1

TypeError: can only concatenate tuple (not "list") to tuple

In [28]:
t4 = (l1,)

In [29]:
t4

([7, 8, 9],)

In [30]:
t2+t4

(3, 4, [7, 8, 9])

In [31]:
t4+t2

([7, 8, 9], 3, 4)

In [32]:
# repli

t2

(3, 4)

In [33]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [40]:
t5 = ('a',2)
t5

('a', 2)

In [41]:
t5 *3

('a', 2, 'a', 2, 'a', 2)

### 2. Deleting a Tuple

As discussed above, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple.

In [34]:
t2

(3, 4)

In [35]:
t3

(1, 2, 3, 4)

In [36]:
del t3[2]

TypeError: 'tuple' object doesn't support item deletion

In [37]:
t3

(1, 2, 3, 4)

In [38]:
del t3

In [39]:
t3

NameError: name 't3' is not defined