# Python List

In this class, we'll learn everything about Python lists, how they are created, slicing of a list, adding or removing elements from them and so on.

Python offers a range of compound data types often referred to as sequences. List is one of the most frequently used and very versatile data types used in Python.

## What is List in Python?

Python list is a **data structure** which is used to store various types of data.In Python, lists are **mutable** i.e., Python will not create a new list if we modify an element of the list.

It works as a container that holds other objects in a given order. We can perform various operations like insertion and deletion on list. A list can be composed by storing a **sequence** of different type of values **separated by commas**.

### Summary

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |âœŽ|

## Creating Python List

In Python programming, a list is created by placing all the items (elements) inside **square brackets `[]`**, separated by **commas** **`,`**. All the elements in list are stored in the index basis with starting index **0**.

It can have any number of items and they may be of different types (integer, float, string etc.).

<div>
<img src="img/l0.png" width="600"/>
</div>

**Syantax:** 

```python
<list_name>=[value1,value2,value3,...,valuen] 
```

In [1]:
li = [2,5.6, "ajan"]
li[2]

'ajan'

In [2]:
li[2][-3]

'j'

## Access elements from a list

There are various ways in which we can access the elements of a list.

### List Index

We can use the index operator **`[]`** to access an item in a list. In Python, indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

Trying to access indexes other than these will raise an **`IndexError`**. The index must be an integer. We can't use float or other types, this will result in **`TypeError`**.

Nested lists are accessed using nested indexing.

<div>
<img src="img/l6_1.png" width="400"/>
</div>

### How to slice lists in Python?

We can access a range of items in a list by using the slicing operator **`:`**(colon).

**Syntax:**

```python
<list_name>[start : stop : step]
```

Slicing can be best visualized by considering the index to be between the elements as shown below. So if we want to access a range, we need two indices that will slice that portion from the list.

<div>
<img src="img/l6_2.png" width="350"/>
</div>

In [3]:
li2 = [23,34,45,56,67,78,89]
#      0   1  2  3  4  5  6
#     -7  -6 -5 -4 -3 -2 -1

In [4]:
li2[2:6]

[45, 56, 67, 78]

In [5]:
li2[-5:-1] # n-1 => -1-1 = > -2

[45, 56, 67, 78]

In [6]:
li2[1:5]

[34, 45, 56, 67]

In [7]:
li2[-6:-2]

[34, 45, 56, 67]

In [8]:
li2[-2:-5:-1]

[78, 67, 56]

In [9]:
li2[-2:-6:-1]

[78, 67, 56, 45]

In [10]:
li2[-1:-5:-1]

[89, 78, 67, 56]

In [11]:
li2[-6:-2:-1]

[]

In [12]:
li2[-1:-7:-1]

[89, 78, 67, 56, 45, 34]

In [13]:
li2[1:5:-1]

[]

In [14]:
li2[-5:-1:-1]

[]

In [15]:
li2[-3:-7:-1]

[67, 56, 45, 34]

In [23]:
a,b,c,d = "ajan" # unpack => multi variable

In [19]:
a

'a'

In [20]:
b

'j'

In [21]:
c

'a'

In [22]:
d

'n'

In [24]:
x,y,z  = "123"

In [25]:
x

'1'

In [26]:
y

'2'

In [27]:
z

'3'

In [28]:
x = '123'

In [29]:
x[0]

'1'

In [30]:
x,y,z  = "1234"

ValueError: too many values to unpack (expected 3)

## Python List Operations

Apart from creating and accessing elements from the list, Python allows us to perform various other operations on the list. Some common operations are given below:

In [31]:
odd = [2,4,6,8]

### Add/Change List Elements

In [32]:
# one => index
odd[0] = 1
odd

[1, 4, 6, 8]

In [33]:
# more elem = > slici
odd[1:4] = [3,5,7]
odd

[1, 3, 5, 7]

In [35]:
li3 = [23,34,45,['a','b','c'],67,78]

In [34]:
t = [1,1,1,1,1,1]
#    0 1 2 3 4 5
t[4]

1

In [36]:
li3[3][1]

'b'

In [37]:
odd

[1, 3, 5, 7]

In [38]:
odd.append("ajan")
odd

[1, 3, 5, 7, 'ajan']

In [39]:
odd.extend([6,6,6,6])
odd

[1, 3, 5, 7, 'ajan', 6, 6, 6, 6]

In [40]:
odd.append(['a','b','c'])
odd

[1, 3, 5, 7, 'ajan', 6, 6, 6, 6, ['a', 'b', 'c']]

In [41]:
odd.insert(3,4)
odd

[1, 3, 5, 4, 7, 'ajan', 6, 6, 6, 6, ['a', 'b', 'c']]

In [42]:
odd.insert(3,[4,5,6])
odd

[1, 3, 5, [4, 5, 6], 4, 7, 'ajan', 6, 6, 6, 6, ['a', 'b', 'c']]

In [43]:
odd.insert(3,"steve")
odd

[1, 3, 5, 'steve', [4, 5, 6], 4, 7, 'ajan', 6, 6, 6, 6, ['a', 'b', 'c']]

### Delete/Remove List Elements

We can delete one or more items from a list using the keyword **`del`**. It can even delete the list entirely.

We can use **`remove()`** method to remove the given item or **`pop()`** method to remove an item at the given index.

The **`pop()`** method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the **`clear()`** method to empty a list.

In [44]:
odd

[1, 3, 5, 'steve', [4, 5, 6], 4, 7, 'ajan', 6, 6, 6, 6, ['a', 'b', 'c']]

In [45]:
odd[4]

[4, 5, 6]

In [46]:
odd.remove(6)

In [47]:
odd

[1, 3, 5, 'steve', [4, 5, 6], 4, 7, 'ajan', 6, 6, 6, ['a', 'b', 'c']]

In [48]:
odd.remove(6)
odd

[1, 3, 5, 'steve', [4, 5, 6], 4, 7, 'ajan', 6, 6, ['a', 'b', 'c']]

In [49]:
odd[4].remove(6)

In [50]:
odd

[1, 3, 5, 'steve', [4, 5], 4, 7, 'ajan', 6, 6, ['a', 'b', 'c']]

In [51]:
odd[3][2]

'e'

In [52]:
odd[3].remove('e')

AttributeError: 'str' object has no attribute 'remove'

In [53]:
odd

[1, 3, 5, 'steve', [4, 5], 4, 7, 'ajan', 6, 6, ['a', 'b', 'c']]

In [54]:
odd.pop()

['a', 'b', 'c']

In [55]:
odd

[1, 3, 5, 'steve', [4, 5], 4, 7, 'ajan', 6, 6]

In [56]:
j = odd.pop()
j

6

In [57]:
odd

[1, 3, 5, 'steve', [4, 5], 4, 7, 'ajan', 6]

In [58]:
odd.pop(3)

'steve'

In [59]:
odd

[1, 3, 5, [4, 5], 4, 7, 'ajan', 6]

In [60]:
y = odd.pop(5)

In [61]:
y

7

In [62]:
odd

[1, 3, 5, [4, 5], 4, 'ajan', 6]

In [63]:
del odd[2]
odd

[1, 3, [4, 5], 4, 'ajan', 6]

In [64]:
del odd[1:4]
odd

[1, 'ajan', 6]

In [65]:
del odd

In [66]:
odd

NameError: name 'odd' is not defined

In [67]:
li2

[23, 34, 45, 56, 67, 78, 89]

In [68]:
li2.clear()
li2

[]