# Python Type Conversion and Type Casting

In this class, you will learn about the Type conversion and uses of type conversion.

## Type Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

1. **Implicit Type Conversion**
2. **Explicit Type Conversion**

### 1. Implicit Type Conversion

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [1]:
num_int = 78
num_flt = 5.7
type(num_int)

int

In [2]:
type(num_flt)

float

In [3]:
num_sum = 0
type(num_sum)

int

In [4]:
num_sum =num_int+num_flt

In [5]:
num_sum

83.7

In [6]:
type(num_sum)

float

### 2. Explicit Type Conversion

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like **`int()`**, **`float()`**, **`str()`**, etc to perform explicit type conversion.

This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

**Syntax:**

```python
<required_datatype>(expression)
```

Typecasting can be done by assigning the required data type function to the expression.

In [7]:
#str = > string => "", ' '


a = "1234"
type(a)

str

In [8]:
int(a)

1234

In [9]:
b= int(a)
type(b)

int