# Python Input, Output and Import

This class focuses on two built-in functions **`print()`** and **`input()`** to perform I/O task in Python. Also, you will learn to import modules and use them in your program.


Some of the functions like **`print()`** and **`input()`** are widely used for standard input and output operations respectively. Let us see the output section first.

## 1. Python Output Using `print()` function


An example of its use is given below.

In [20]:
print("askdhkjashd kjasdkjaskjd askjdnasnd asdbasbd")

askdhkjashd kjasdkjaskjd askjdnasnd asdbasbd

In [21]:
a = 90
print(a)

90

In [22]:
print("the value of a is: ", a)

the value of a is:  90

In [23]:
a=12
b=34
c=56
print(a,b,c)

12 34 56

In [24]:
print("the value of a is ", a, " the value of b is :", b)

the value of a is  12  the value of b is : 34

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [25]:
print("the value of a is {} and b is {}".format(a,b))   # {}place holder

the value of a is 12 and b is 34

In [26]:
print("the value of a is {} and b is {}".format("mango","banana"))

the value of a is mango and b is banana

In [27]:
print("the value of a is {} and b is {}, {}".format("mango","banana"))

IndexError: Replacement index 2 out of range for positional args tuple

In [28]:
print("the value of a is {0} and b is {1}, {1}".format("mango","banana"))

the value of a is mango and b is banana, banana

In [29]:
print("the value of a is {0} and b is {1}, {0}".format("mango","banana"))

the value of a is mango and b is banana, mango

In [31]:
# keyword argu
print("the value of a is {b} and b is {a}, {a}".format(a = "mango", b  = "banana"))

the value of a is banana and b is mango, mango

## 2. Python Input Using `input()` function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.

To allow flexibility, we might want to take the input from the user. In Python, we have a built-in function **`input()`** to accept user input.

**Syntax**:

```python
input([prompt])
```

where **`prompt`** is the string we wish to display on the screen. It is optional.

In [1]:
a  =  input("enter a number")

enter a number 4

In [2]:
a

'4'

In [3]:
a = int(input("enter the number"))
a

enter the number 67

67

In [5]:
b = float(input("enter the price of the product"))
b

enter the price of the product 99.99

99.99

In [6]:
type(b)

float

In [7]:
a,b,c = 4,5.6,"ajan"

In [8]:
a

4

In [9]:
b

5.6

In [10]:
c

'ajan'

In [11]:
name, age, price = input("enter ur name, age, and puchased price")

enter ur name, age, and puchased price ajantha 88 78.99

ValueError: too many values to unpack (expected 3)

In [12]:
name, age, price = input("enter ur name, age, and puchased price")

enter ur name, age, and puchased price ajantha,99,34,50

ValueError: too many values to unpack (expected 3)

In [13]:
name, age, price = input("enter ur name, age, and puchased price")

enter ur name, age, and puchased price ajantha,99,34.50

ValueError: too many values to unpack (expected 3)

In [14]:
name, age, price = input("enter ur name, age, and puchased price").split() # split => " "

enter ur name, age, and puchased price ajantha 88 76.99

In [15]:
name

'ajantha'

In [16]:
age

'88'

In [17]:
price

'76.99'

In [18]:
name, age, price = input("enter ur name, age, and puchased price").split()

enter ur name, age, and puchased price ajantha devi 95 75.99

ValueError: too many values to unpack (expected 3)

In [19]:
name, age, price = input("enter ur name, age, and puchased price(separ with comma)").split(",") # split => " ,"

enter ur name, age, and puchased price(separ with comma) ajantha devi,88, 87.99

## 3. Python `Import` function

When our program grows bigger, it is a good idea to break it into different modules.


Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the **`import`** keyword to do this.

For example, we can import the **`math`** module by typing the following line:

```python
>import math
```

In [32]:
import maths

ModuleNotFoundError: No module named 'maths'

In [33]:
import math

In [34]:
math.sin(0)

0.0

In [35]:
math.cos(0)

1.0

In [36]:
math.pi

3.141592653589793